p {
    color: red;
    text-align: center;
    margin: 30px;
}
button {
    margin-left: 30px;
}

p strong {
    font-weight: bolder;
}

div#frame, div#contact {
    border: 1px solid blue;
    margin: 30px;
    padding: 30px;
    background-color: beige;
}

div#frame p {
    color: blue;
    text-align: justify;
}

/* Navigation */
nav ol li.item {
    display: inline-block;
    border: 1px solid blue;
    background-color: beige;
    padding: 10px;
}

nav ol li.item a {
    text-decoration: none;
    color: red;
}

nav ol li.item a:hover {
    color: black;
}

/* Gallery */
div#gallery {
    text-align: center;
    margin: 0 300px;
}

div#gallery div.image {
    display: inline-block;
    border: 1px solid blue;
    width: 200px;
    height: 200px;
    margin: 10px;
}
div#gallery div.image img {
    width: 200px;
    height: 200px;
}
div#gallery div.image img:hover {
    filter: brightness(50%);
    transition: filter 0.8s ease;
}
